.achievements-board {
    counter-reset: achievements 1;
    display: flex;
    flex-wrap: wrap;
    width: 600px;

}

.achievements-board_achievement {
    height: 102px;
    width: 102px;
    margin: 21px;
    background: url("../img/number_new.png")
}

.achievements-board_achievement:first-child {
    background: url("../img/nonumber_new.png");
    height: 100px;
    width: 100px;
    margin: 22px;
}



.achievements-board_achievement:first-child .achievements-board_achievement_image-holder:after {
    display: none;
}

.achievements-board_achievement_image-holder {
    position: relative;
    top: 15px;
    height: 70px;
    width: 70px;
    margin: auto;
    background: url("../img/owl.png") no-repeat center;
    background-size: 100%;
}

.achievements-board_achievement_image-holder:after {
    counter-increment: achievements;
    content: counter(achievements);
    font-size: 15px;
    color: #89b8cf;
    text-align: center;
    position: relative;
    top: 58px;
    right: -62px;

}




